name: Projection test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
  
    runs-on: windows-latest

    strategy:
      matrix:
        contract-version: [ "10.0.19041.1", "10.0.22000.196", "10.0.22621.2" ]

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore /p:ContractsVersion=${{ matrix.contract-version }}
    - name: Get shortened SHA
      uses: benjlevesque/short-sha@v1.2
      id: short-sha
    - name: Build
      run: dotnet pack CsWinRTProjection/CsWinRTProjection.csproj -c Release --no-restore /clp:ErrorsOnly /p:VersionSuffix=${{ steps.short-sha.outputs.sha }} /p:ContractsVersion=${{ matrix.contract-version }}
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: WindowsProjection-${{ matrix.contract-version }}
        path: CsWinRTProjection/bin/Release/*.nupkg
